#login-style {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #36424a;
  color: #fff;
  height: 100vh;

  input {
    margin-bottom: 10px;
  }

  .btn-primary {
    background: #ff953f;
  }

  .btn:hover {
    background: #ccc;
    color: #fff;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .btn, .form-control {
    border: 0;
    border-radius: 0;
  }

  label {
    color: #a4a4a4;
  }
}

@media (min-width: 768px) {
  #login-style {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
}