<div class="form-signin text-center">
  <%= form_tag(admin_sessions_path) do %>
    <h2 class="h3 mb-3 fw-normal">rBlog</h2>
    <!--Alerts & Messages-->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="form-floating">
      <%= text_field_tag :email, params[:email], class: 'form-control', id: "floatingInput" %>
      <%= label_tag 'Email address' %>
    </div>
    <div class="form-floating">
      <%= password_field :password, params[:password], class: 'form-control', id: 'floatingPassword' %>
      <%= label_tag 'Password' %>
    </div>

    <%= submit_tag 'Log in', class: 'w-100 btn btn-lg btn-primary' %>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  <% end %>
</div>