<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>Add Comment</h2>
    </div>
    <%= form_for [@post, @post.comments.build] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_field :body, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-primary mt-5' %>
      </div>
    <% end %>
  </div>
</div>