<div class="comments">
  <h2><%= @post.comments.length %> Comments</h2>
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag('user.jpg', class:'img-fluid w-75 mb-4') %>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h4><%= comment.name %> <span><%= l(comment.created_at, format:'%d/%m/%Y - %H:%M') %></span> </h4>
              </div>
              <%= comment.body %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'partials/add_comment' %>
</div>