<!DOCTYPE html>
<html>
<head>
  <title>RBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="admin-style">
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html"><h1>rBlog<span>/Manager</span></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Posts', admin_posts_path, class: "nav-link #{params[:controller] == 'admin/posts' ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', admin_categories_path, class: "nav-link #{params[:controller] == 'admin/categories' ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users', admin_users_path, class: "nav-link #{params[:controller] == 'admin/users' ? 'active' : ''}" %>
        </li>
      </ul>
      <%= render 'admin/partials/search' %>
    </div>
  </div>
</nav>
<!--/.Navbar-->

<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-dark bg-light">
          <div class="card-body bg-light">
            <% if current_user %>
              <p class="text-end"><%= "Logged in as #{current_user.name}." %> <%= link_to 'Log out', admin_logout_path %></p>
            <% else %>
              <p class="text-end"><%= link_to 'Log in', admin_login_path %></p>
            <% end %>
            <!--flashes & messages-->
            <% if flash[:notice] %>
              <div class="alert alert-success">
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-danger">
                <%= flash[:alert] %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <%= render 'admin/partials/footer' %>
</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>