<%= form_for [:admin, @post] do |f| %>
  <!--check for errors-->
  <% if @post.errors.any?  %>
    <% @post.errors.full_messages.each do |msg| %>
      <!--show errors-->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.map {|x| [x.name, x.id]}, {include_blank: 'Select One'}, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.select :user_id, User.all.map {|x| [x.name, x.id]}, {include_blank: 'Select One'}, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image_file %>
    <%= f.file_field :image_file, class:'form-control' %>
  </div>

  <% if @post.image_file.present? %>
    <%= image_tag @post.image_file %>
  <% end %>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_area :tags, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.rich_text_area :body, class:'form-control' %>
  </div>

  <br>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', admin_posts_path, class: 'btn btn-default' %>
<% end %>