<h2 class="pb-2 mt-4 mb-2">Manage Posts <%= link_to 'Create New', new_admin_post_path, class:'btn btn-success' %> </h2>
<% if @posts.exists? %>
  <table class="table table-striped">
    <tr>
      <th>Post Title</th>
      <th>Post Category</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.category.name %></td>
        <td><%= l(post.created_at, format: '%d/%m/%Y - %H:%M') %></td>
        <td>
          <%= link_to 'Edit', edit_admin_post_path(post), class: 'btn btn-primary' %>
          <%= link_to 'Delete', admin_post_path(post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @posts %>
<% else %>
  <p>There are no posts</p>
<% end %>
