

body {
  font-family: 'Arial', sans-serif;
  background: $background-color;
  line-height: 1.6em;
}

.navbar {
  overflow: auto;
  min-height: 100px;
  background: $primary-color;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  h1 {
    margin: 10px 0 0 0;
    padding: 0;
  }
  a {
    color: #fff !important;
    &:hover {
      color: $secondary-color;
    }
    &.navbar-brand:hover {
      color: #fff;
    }
  }
  ul {
    margin-top: 22px;
  }
}

.orange {
  color: $secondary-color;
  &:hover {
    color: #fff;
  }
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: $secondary-color !important;
}

.search-form {
  margin-top:  30px;
  input[type='text']{
    border-radius: 0;
    height: 38px;
  }
  .btn {
    border: 0;
    height: 38px;
    margin-top: 0;
    border-radius: 0;
    margin-left: -8px;
  }
  .form-control {
    background: #f4f4f4;
    border: 1px solid $background-color;
    border-radius: 0;
  }
}

.btn {
  border: none;
  border-radius: 0;
  &:hover {
    background: #ccc;
  }
  &-primary {
    background: $primary-btn-color;
  }
}

.post {
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 30px;
  &-content {
    padding: 20px;
    box-sizing: border-box;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}

small {
  background: $primary-color;
  color: #fff;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}

.pagination {
  .previous_page, .current, a {
    margin-right: 5px;
  }
}

footer {
  background: $primary-color;
  color: #fff;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top: 30px;
}