<%= form_for [:admin, @category] do |f| %>
  <!--check for errors-->
  <% if @category.errors.any?  %>
    <% @category.errors.full_messages.each do |msg| %>
      <!--show errors-->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <br>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', admin_categories_path, class: 'btn btn-default' %>
<% end %>