<h2 class="pb-2 mt-4 mb-2">Manage
  Categories <%= link_to 'Create New', new_admin_category_path, class: 'btn btn-success' %> </h2>
<% if @categories.exists? %>
  <table class="table table-striped">
    <tr>
      <th>Category Title</th>
      <th>Create Date</th>
      <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= l(category.created_at, format: '%d/%m/%Y - %H:%M') %></td>
        <td>
          <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-primary' %>
          <%= link_to 'Delete', admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @categories %>
<% else %>
  <p>There are no categories</p>
<% end %>
