<div class="container">
  <div class="card">
    <% if @post.image_file.present? %>
      <%= image_tag @post.image_file, class: 'img-fluid' %>
    <% else %>
      <%= image_tag('rails1.jpg', class: 'img-fluid') %>
    <% end %>
    <div class="card-body">
      <div class="card-title">
        <h2><%= @post.title %></h2>
        <small>Posted by <%= @post.user.name %> on <%= l(@post.user.created_at, format: '%d/%m/%Y - %H:%M') %> </small>
      </div>
      <p><%= @post.body %></p>
    </div>
  </div>
  <%= render 'partials/comments' %>
</div>