<h2><%= @category.name %></h2>
<div class="row">
  <% if @posts.exists? %>
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="post">
          <% if post.image_file.present? %>
            <%= image_tag post.image_file, class: 'img-fluid' %>
          <% else %>
            <%= image_tag('rails1.jpg', class: 'img-fluid') %>
          <% end %>
          <div class="post-content">
            <h3><%= post.title %></h3>
            <small>Posted by <%= post.user.name %> on <%= l(post.created_at, format: '%d/%m/%Y - %H:%M') %></small>
            <p>
              <%= post.body.to_plain_text.truncate(200) %>
            </p>
            <div class="d-grid gap-2">
              <%= link_to 'Read More', post_path(post), class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No posts in this category yet</p>
  <% end %>
</div>
