<h2 class="pb-2 mt-4 mb-2">Manage Users <%= link_to 'Create New', new_admin_user_path, class: 'btn btn-success' %></h2>
<% if @users.exists? %>
  <table class="table table-striped">
  <tr>
  <th>Name</th>
  <th>Email</th>
  <th>Date Created</th>
  <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= l(user.created_at, format: '%d/%m/%Y - %H:%M') %></td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary' %>
          <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users %>
<% else %>
  <p>There are no users</p>
<% end %>
